# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
tmp/
temp/
.cache/
*.tmp

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
